.grid-row {
    align-items: baseline;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, auto));
    grid-gap: 8px;
}

.grid-col {
    display: inline-grid;
    grid-auto-flow: row;
}

@each $i in 4, 8, 16, 32 {
    .grid-col-gap--#{$i} {
        grid-gap: #{$i}px;
    }

    .grid-row-margin--#{$i} {
        margin-bottom: #{$i}px;
    }

    .grid-col-margin--#{$i} {
        margin-right: #{$i}px;
    }
}
