@import url("https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500,700");

.typography {
    font-family: "Fira Sans";

    &-bold {
        font-weight: 700;
    }
}

.typography-body {
    font-weight: 400;
    /* Not included in spec, but makes the text more readable. */
    line-height: 1.25rem;

    &-10 {
        font-size: 13px;
    }

    &-20 {
        font-size: 15px;
    }

    &-30 {
        font-size: 17px;
    }
}

.typography-caption {
    font-weight: 400;

    &-10 {
        font-size: 11px;
    }

    &-20 {
        font-size: 13px;
    }

    &-30 {
        font-size: 15px;
    }
}

.typography-display {
    font-weight: 200;

    &-20 {
        font-size: 36px;
    }
}

.typography-title {
    &-10 {
        font-size: 13px;
        font-weight: 500;
    }

    &-20 {
        font-size: 17px;
        font-weight: 500;
    }

    &-30 {
        font-size: 22px;
        font-weight: 300;
    }

    &-40 {
        font-size: 28px;
        font-weight: 300;
    }
}
