body {
    background: #efefef;
    margin-top: 32px;
}

.todo-column {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.todo-list .card-body button {
    justify-self: flex-end;
}

.todo-list__icon-item {
    display: flex;
}

.todo-list__icon-item svg {
    margin-right: 8px;
}

.todo-list__icon-item path {
    fill: #12bc00;
}

.todo-list__item--completed {
    opacity: .5;
}
